#content{
	margin-left: 190px;
	padding-left: 16px;
}
#leftsidebar {
	width: 160px;
    float:left;
    
    margin-top:-16px;
    
    border-right: 1px black solid;
}
	#leftsidebar ul {
		list-style-type:none;
		padding-left: 8px;
	}
		#leftsidebar ul li {
			padding: 6px 2px;
		}
		#leftsidebar ul li a{
			/*color:black;*/
			font-size: 16px;
			text-decoration:none;
		}
		#leftsidebar .currentPage {
			color:#7CBEC6;
		}