#container {
	width:1400px;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
}
/*---Generic css---*/
.clear {
	clear:both;
}

/*---HEADER css---*/
#header {
	height:80px;
	border-bottom:solid black 1px;
	margin-bottom:10px;
}
	#banner{
		float:left;
		height:100%;
	}
		#banner h1{
			font-size:40px;
			line-height:80px;
			margin-top:0;
			margin-bottom:0;
			margin-left:20px;
		}
	nav {
		float: right;
	}
		nav ul {
			list-style-type:none;
			height:40px;
		}
		nav ul li {
			display: inline;
			padding: 20px 20px;
			width:60px;
		}
		nav ul li a{
			color:black;
			font-size: 20px;
			line-height:60px;
			text-decoration:none;
		}
		nav .currentPage {
			color:#7CBEC6;
		}
		
/*---Content css---*/
.sectionHeader{
	border:solid black 1px;
	width:100%;
	text-align:center;
	
}

	#headerDate{
		clear:right;
		float:right;
		font-size:10px;
		margin-right:21px;
		margin-top:-10px;
	}
	.DDays td {
		border-width: 1px;
		border-style: solid;
		border-color: black;
		border-collapse: collapse;
		padding:5px;
	}
	th{
		border-width: 1px;
		border-style: solid;
		border-color: black;
		border-collapse: collapse;
		padding:5px;
		background-color:gray;
		color:white;
	}
/*--------OHLC Chart Styling-------*/
.OHLCSection {
	margin-bottom: 30px;
}
/*--------D Day Chart Styling-------*/
#D_Day_Table h3{
	text-align:center;
}
#dDayChart img{
	margin-bottom:30px;
}
	#backtestIndexPicker td{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	}
	#backtestIndexPicker li{
		display:inline;
		list-style-type: none;
		margin-right: 70px;
		margin-left: 70px;
	}
	#backtestModelParameters ul{
		display:inline;
		list-style-type: none;
		float:left;
		padding-left:10px;
		width:100px;
		height:52px;
	}
	.backtestLabel{
		font-size:10px;
	}
	.backtestInput{
		width:60px;
	}
	
	.clear{
	clear:both;
	}
	
/*---FOOTER css---*/
#footer{
	clear:both;
	text-align:center;
}