@import url("header.css");
@import url("sidebar.css");
@import url("charts.css");
@import url("tables.css");
@import url("footer.css");

/*---Generic css---*/
.clear {
	clear:both;
}

#wrapper {
	max-width:1000px;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
}
#message{
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
	#message h2{
		font-size: 18px;
		padding:10px 12px;
		text-align: center;
	}
	#message.success{
		background-color: green;
	}
	#message.fail{
		background-color: red;
	}
	
#addsymbollink{
	text-align: center;
	margin: 20px 0;
}


#dayStatus{
	text-align:center;
}
#dayStatus h2{
	border: 2px gray solid;
	margin-top:8px;
}
#dayStatus h3{
	margin-bottom:8px;
}

	